@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";


@theme{
  /* font family*/
  --font-sans: "Space Grotesk", sans-serif;

  /* Colors */
  --color-primary: #B9FF66;
  --color-bg: #ffffff;
  --color-text-main: #191A23;
  --color-text-light:#f3f3f3;
  --color-bg-cardlight: #f3f3f3;
  --color-bg-cardDark:#191a23;
  --color-border-color: #191a23;

  /* font size  desktop */
  --text-md-desk: 18px;
  --text-lg-desk: 20px;
  --text-xl-desk: 30px;
  --text-2xl-desk: 40px;
  --text-3xl-desk: 60px;

  /* font size mobile */
  --text-md-mob: 16px;
  --text-lg-mob: 18px;
  --text-xl-mob: 26px;
  --text-2xl-mob: 36px;
  --text-3xl-mob: 43px;

  /* spacing */
  --spacing-5xl: 180px;
  --spacing-4xl: 140px;
  --spacing-3xl: 100px;
  --spacing-2xl: 80px;
  --spacing-xl: 70px;
  --spacing-gap-lg: 40px;
  --spacing-gap-md:30px;
  --spacing-max-width: 1440px;
  --spacing-head-length: 15ch;
  --spacing-text-length: 39ch;

  /* border radius */
  --radius-button:14px;
  --radius-card: 45px;
  /* drop shadow */

  --drop-shadow-card:0_5px_0_rgba(25,26,35,1);

}


:root {
  /* letter-spacing: 0.18px; */
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
  --color-primary: #B9FF66;
  --color-bg: #191a23;
  --color-text-main: #f3f3f3;
  --color-bg-cardlight: #1f2025;
  --color-bg-cardDark:#1f2025;
   --color-border-color: #f3f3f3;
  }


}

[data-theme="dark"] {
--color-primary: #B9FF66;
  --color-bg: #191a23;
  --color-text-main: #f3f3f3;
  --color-bg-cardlight: #1f2025;
  --color-bg-cardDark:#1f2025;
   --color-border-color: #f3f3f3;
}
[data-theme="light"]{
  --color-primary: #B9FF66;
  --color-bg: #ffffff;
  --color-text-main: #191A23;
  --color-bg-cardlight: #f3f3f3;
  --color-bg-cardDark:#191a23;
   --color-border-color: #191a23;
}
img {
  max-width: 100%;
  display: block;
}
body {
  /* @apply font-sans; */
  color: var(--color-text-main
  );
  background-color: var(--color-bg);
}


